.top-image-section {
  width: 100%;
  text-align: center;
  margin: 60px 0 40px 0; /* image aur video ke beech gap */
}

.top-image {
  width: 80%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
}
